@font-face {
  font-family: 'input_mono_regular';
  src: url('media/input_mono_regular.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden; 
  -webkit-app-region: drag; 
}

#canvas {
  display: block;
  white-space: pre;
  -webkit-app-region: drag; 
  font-family: 'input_mono_regular', sans-serif;
}